<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d %-20logger{0} [%p] %m %n</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="CONSOLE"/>
	</root>

	<logger name="lwm2m.LeshanSvr" level="DEBUG"/>
	<logger name="lwm2m.DataSenderRest" level="DEBUG"/>
</configuration>
