#
# Copyright (c) 2026 Jonas Remmert
#
# SPDX-License-Identifier: Apache-2.0
#
# Flownexus Redis Service
# Rootless Quadlet container definition
#

[Unit]
Description=Flownexus Redis Service
After=network-online.target

[Container]
ContainerName=flownexus-redis
Image=localhost/flownexus-redis:latest
Network=podman-flownexus-network
PublishPort=127.0.0.1:6379:6379
Exec=redis-server /redis/redis.conf
HealthCmd=redis-cli ping
HealthInterval=10s
HealthTimeout=3s
HealthRetries=5

[Service]
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
