{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>flownexus - {% block title %}Overview{% endblock %}</title>
    <link rel="icon" href="{% static 'img/flownexus_favicon.svg' %}" type="image/svg+xml">
    <!-- CSS files -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta20/dist/css/tabler.min.css">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <style>
      @import url('https://rsms.me/inter/inter.css');
      :root {
      	--tblr-font-sans-serif: 'Inter var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
      }
      body {
      	font-feature-settings: "cv03", "cv04", "cv11";
      }
      html {
        overflow-y: scroll;
      }
    </style>
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <div class="page">
      <!-- Navbar -->
      <header class="navbar navbar-expand-md d-print-none" >
        <div class="container-xl">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <h1 class="navbar-brand navbar-brand-autodark d-none-block-768 pe-0 pe-md-3">
            <a href=".">
              flownexus
            </a>
          </h1>
          <div class="navbar-nav flex-row order-md-last">
            <div class="nav-item d-none d-md-flex me-3">
              <div class="btn-list">
                <a href="{% url 'admin:index' %}" class="btn" target="_blank" rel="noreferrer">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 13m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M13.45 11.55l2.05 -2.05" /><path d="M6.4 20a9 9 0 1 1 11.2 0z" /></svg>
                  Admin
                </a>
              </div>
            </div>
            <div class="nav-item dropdown">
              <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
                <span class="avatar avatar-sm">{{ user.username|slice:":1"|upper }}</span>
                <div class="d-none d-xl-block ps-2">
                  <div>{{ user.username }}</div>
                </div>
              </a>
              <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <form action="{% url 'logout' %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="dropdown-item">Logout</button>
                </form>
              </div>
            </div>
          </div>
          <div class="collapse navbar-collapse" id="navbar-menu">
            <div class="d-flex flex-column flex-md-row flex-fill align-items-stretch align-items-md-center">
              <ul class="navbar-nav">
                <li class="nav-item {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">
                  <a class="nav-link" href="{% url 'frontend:dashboard' %}" >
                    <span class="nav-link-title">
                      Overview
                    </span>
                  </a>
                </li>
                 <li class="nav-item {% if request.resolver_match.url_name == 'firmware_list' %}active{% endif %}">
                   <a class="nav-link" href="{% url 'frontend:firmware_list' %}" >
                     <span class="nav-link-title">
                       Firmware
                     </span>
                   </a>
                 </li>
                 <li class="nav-item {% if request.resolver_match.url_name == 'data_analysis' %}active{% endif %}">
                   <a class="nav-link" href="{% url 'frontend:data_analysis' %}" >
                     <span class="nav-link-title">
                       Data
                     </span>
                   </a>
                 </li>
               </ul>

            </div>
          </div>
        </div>
      </header>
      <div class="page-wrapper">
        {% block page_header %}
        <!-- Page header -->
        <div class="page-header d-print-none">
          <div class="container-xl">
            <div class="row g-2 align-items-center">
              <div class="col">
                <h2 class="page-title">
                  {% block page_title %}Overview{% endblock %}
                </h2>
              </div>
            </div>
          </div>
        </div>
        {% endblock %}
        <!-- Page body -->
        <div class="page-body">
          <div class="container-xl">
            {% block content %}{% endblock %}
          </div>
        </div>
        <footer class="footer footer-transparent d-print-none">
          <div class="container-xl">
            <div class="row text-center align-items-center flex-row-reverse">
              <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                <ul class="list-inline list-inline-dots mb-0">
                  <li class="list-inline-item">
                    Version: {{ APP_VERSION }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <!-- Libs JS -->
    <!-- Tabler Core -->
    <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta20/dist/js/tabler.min.js" defer></script>
    {% block extra_js %}{% endblock %}
  </body>
</html>
