{% extends 'base.html' %}
{% block content %}
<h1>Event Dashboard</h1>
<table class="table">
    <thead>
        <tr>
            <th>Device</th>
            <th>Event Type</th>
            <th>Start Time</th>
            <th>End Time</th>
        </tr>
    </thead>
    <tbody>
        {% for event in events %}
        <tr>
            <td>{{ event.device.endpoint }}</td>
            <td>{{ event.event_type }}</td>
            <td>{{ event.start_time }}</td>
            <td>{{ event.end_time }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
