{% extends 'base.html' %}
{% block content %}
<h1>Pending Communication</h1>
<table class="table">
    <thead>
        <tr>
            <th>Device</th>
            <th>Command</th>
            <th>Status</th>
            <th>Timestamp</th>
        </tr>
    </thead>
    <tbody>
        {% for operation in pending_operations %}
        <tr>
            <td>{{ operation.resource.device.endpoint }}</td>
            <td>{{ operation.operation_type }}</td>
            <td>{{ operation.status }}</td>
            <td>{{ operation.timestamp_sent }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
